<div class="grid min-h-screen place-items-center  mt-6 ">
    <div class="w-gul p-12 form_wrapper sm:w-8/12 md:w-1/2 lg:w-3/12  shadow-2xl mb-12 bg-primary-200 rounded-lg ">
      <h1 class="text-4xl	 font-bold text-center"> <span class="jumbo-header text-lb:text-6xl">Edit <%= resource_name.to_s.humanize %></span></h1>    
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field mt-10 ">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"block w-full p-3 mt-2   bg-gray-100  border-2 border-gray-100 focus:border-primary-600 rounded-xl placeholder-gray-500	"%>
        <br />
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, placeholder: 'Nouveau mot de passe', autocomplete: "Nouveau mot de passe", class:"block w-full p-3 mt-2   bg-gray-100  border-2 border-gray-100 focus:border-primary-600 rounded-xl placeholder-gray-500	" %>
        <% if @minimum_password_length %>
        <span class="text-xs italic text-gray-500 mt-1 ml-2">(<%= @minimum_password_length %> caractères minimum)</span>
        <% end %><br />
      </div>

      <div class="field ">
        <%= f.password_field :password_confirmation, placeholder: 'Nouveau mot de passe',autocomplete: "Nouveau mot de passe", class:"block w-full p-3 mt-2   bg-gray-100  border-2 border-gray-100 focus:border-primary-600 rounded-xl placeholder-gray-500	" %>
        <br />
      </div>

      <div class="field">
        <%= f.password_field :current_password, placeholder: 'Ancien mot de passe',autocomplete: "Ancien mot de passe", autocomplete: "email", class:"block w-full p-3 mt-2   bg-gray-100  border-2 border-gray-100 focus:border-primary-600 rounded-xl placeholder-gray-500	" %>
        <br />
      </div>


      <div class="actions flex justify-center   ">
        <%= f.submit "Modifier", class:" block w-full mt-5 bg-primary-500 hover:bg-primary-400 py-4 px-6 block rounded-xl text-white cursor-pointer font-black" %>
      </div>

      <% end %>
      
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>