<div class="card transform duration-200 ease-in hover:-translate-y-1">
  <div class=" bg-gray-100 w-80 mr-5 hover:shadow-lg shadow-2-xl rounded">
        <%= image_tag day.lunch.image_url, style: 'height:100%;width:100%;margin-bottom:20px; border-radius:5px;' %>
    <div class=" py-4 px-3">
    <div class="flex flex-row items-center ">
      <%= image_tag 'clock.svg', class: "clock"%>
      <div class="text-sm ml-2 ">
        <p><%= day.lunch.cook_time%> mins </p>
      </div>
      <%= image_tag 'calorie.svg', class: "calorie ml-3 "%>
      <div class="text-sm  ml-2">
       <p> <%= day.lunch.cal_per_serving%> calories</p>
      </div>
    </div>
      <div class="">
        <h1 class="text-xl font-bold  text-gray-900 mt-2"><%= day.lunch.title%></h1>   
         <%= link_to 'Voir la recette', recipe_path(day.lunch), class:"py-2 px-3 font-bold mt-2 text-white  bg-primary-600 inline-block rounded" %>
      </div>
    </div>
  </div>
</div>


<div class="card mt-8 md:mt-0 transform duration-200 ease-in hover:-translate-y-1">
  <div class=" bg-gray-100 w-80 mr-5 shadow-2-xl rounded hover:shadow-lg">
        <%= image_tag day.dinner.image_url, style: 'height:100%;width:100%;margin-bottom:20px; border-radius:5px;' %>
    <div class=" py-4 px-3">
    <div class="flex flex-row items-center ">
      <%= image_tag 'clock.svg', class: "clock"%>
      <div class="text-sm ml-2 ">
        <p><%= day.dinner.cook_time%> mins </p>
      </div>
      <%= image_tag 'calorie.svg', class: "calorie ml-3 "%>
      <div class="text-sm  ml-2">
       <p> <%= day.dinner.cal_per_serving%> calories</p>
      </div>
    </div>
      <div class="">
        <h1 class="text-xl font-bold  text-gray-900 mt-2"><%= day.dinner.title%></h1>   
        <%= link_to 'Voir la recette', recipe_path(day.dinner), class:"py-2 px-3 font-bold mt-2 text-white  bg-primary-600 inline-block rounded" %>
      </div>
    </div>
  </div>
</div>