<% if current_user.current_plan_id != plan.id%>
<tr id="plan<%=plan.id%>", class="bg-gray-50">
<% else %>
<tr id="plan<%=plan.id%>", class="bg-primary-300">
<% end %>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= idx + 1 %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
  <%= plan.created_at.strftime("%d-%m-%Y") %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= plan.days.length %> jours
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    Programme <%= plan.diet_type_title.downcase %>
  
  <% if current_user.current_plan_id != plan.id%>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <%= link_to plan_path(plan.id), method: :patch, class:"text-primary-600 hover:text-primary-900" do %>
    <p> Choisir </p>
    <% end %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">  
      <%= link_to plan_path(plan.id),  method: :delete, data: {remote: true, confirm: "Supprimer le plan?" }, class:"text-warning hover:text-yellow-500" do %>
      <p> Supprimer </p>   
      <% end %>
  </td>
  
  <% else %>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <p class="text-yellow-500"> En cours </p>
    </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">  
    <%= link_to plan_path(plan.id),  method: :delete, data: {remote: true, confirm: "Ceci est ton programme actuel, le supprimer ?" }, class:"text-warning hover:text-yellow-500" do %>
    <p> Supprimer </p>   
    <% end %>
  </td>
  <% end %>
</tr>