
    <!-------left-page----->
    <div class="container  h-full p-2 flex flex-row justify-center lg:justify-between items-center ">
      <div class="left-page hidden md:hidden lg:block lg:ml-20">
          <%= image_tag 'cooking.svg', class: "ramen"%>
      </div>

    <!-------right-page----->
      <div class="right-page ">
      <div class=" p-12 form_wrapper max-w-sm mx-auto shadow-2xl  bg-primary-200 rounded-lg ">
        <h1 class="text-4xl	 font-bold text-center"> <span class="jumbo-header text-lb:text-6xl m-auto ">Connexion</span></h1>    

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field mt-10">
              <%= f.email_field :email, autofocus: true, placeholder: 'Email', autocomplete: "email", required: true, class:"block w-full p-3 mt-2   bg-gray-100 border-gray-100 rounded-xl placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-primary-500" %>
              <br />
            </div>

        <div class="field">
              <%= f.password_field :password, placeholder: 'Mot de passe', autocomplete: "new-password", required: true, class:"block w-full p-3 mt-2   bg-gray-100 border-gray-100 rounded-xl placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-primary-500" %>
              <% if @minimum_password_length %>
              <span class="text-xs italic text-gray-500 mt-1 ml-2">(<%= @minimum_password_length %> caractères minimum)</span>
              <% end %><br />
            </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mt-2 ml-1">
            <%= f.check_box :remember_me, class:"mt-1" %>
            <%= f.label :remember_me, 'Se souvenir de moi', class:"text-sm font-semibold text-gray-600 ml-1 mb-1" %>
          </div>
        <% end %>

        <div class="actions flex justify-center   ">
              <%= f.submit "Valider", class:" block focus:outline-none w-full mt-5 bg-primary-500 hover:bg-primary-400 py-4 px-6 block rounded-xl text-white cursor-pointer font-black" %>
            </div>

        <% end %>

        <div class="mt-6 text-sm ml-1">
          <%= render "devise/shared/links"%>
        </div>

        </div>
      </div>
    </div>
