<%= render 'users/users/welcome'%>

<div class="flex relative max-w-full min-h-screen">

  <%= render 'users/users/sidebar' %>

  <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8 lg:mt-8">

    <div class="mx-auto text-base max-w-prose lg:max-w-none">

      <%= button_to :back, method: :get do %>
      <p class="border-b border-warning hover:text-warning">Retour</p>
      <% end %>
      <h3 class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl"><%= @recipe.title %></h3>
      <p class="text-gray-500 text-sm mt-5">Recette mise en ligne par <span
          class="text-primary-600 font-semibold"><%= @recipe.author.first_name %></span></p>
    </div>

    <div class="mt-2 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2 overflow-x-hidden">

        <svg class="hidden lg:block absolute top-0 right-0 -mt-20 -mr-20" width="404" height="384" fill="none"
          viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
        </svg>

        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <div class="aspect-w-12 aspect-h-7 lg:aspect-none ">
            <%= image_tag @recipe.image_url, class:"rounded-lg shadow-lg object-cover object-center" %>
          </div>
        </div>

      </div>

      <div class="mt-8 lg:mt-0">
        <div class="text-base lg:max-w-none  ">
          <div class="mt-5 flex-grow flex flex-col rounded border border-gray-300 ">
            <div class="bg-white text-gray-900 group flex items-center px-2 py-2 text-sm font-medium ">
              <svg class="w-9 h-8 mr-2 fill-current" fill="none" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 40"
                enable-background="new 0 0 32 32" xml:space="preserve">
                <path
                  d="M27.357,16.733H26.65c-0.098-5.079-3.744-9.286-8.566-10.242c0.084-0.233,0.137-0.481,0.137-0.743  c0-1.226-0.996-2.222-2.221-2.222s-2.223,0.996-2.223,2.222c0,0.262,0.055,0.51,0.137,0.743c-4.82,0.956-8.467,5.163-8.566,10.242  H4.643c-0.348,0-0.631,0.281-0.631,0.63c0,0.348,0.283,0.63,0.631,0.63h22.715c0.348,0,0.629-0.282,0.629-0.63  C27.986,17.015,27.705,16.733,27.357,16.733z M15.037,5.748c0-0.53,0.432-0.962,0.963-0.962c0.529,0,0.961,0.432,0.961,0.962  c0,0.214-0.07,0.409-0.189,0.568C16.518,6.298,16.26,6.286,16,6.286s-0.518,0.012-0.771,0.03  C15.109,6.157,15.037,5.962,15.037,5.748z" />
                <path
                  d="M19.145,19.978c-1.736,0-2.367,0-3.789,0c-0.984,0-1.441,0.317-1.441,1.011s0.758,0.988,1.441,0.988s1.316,0,1.842,0  c0.527,0,0.789,0.367,0.789,0.734c0,0.369-0.238,0.738-0.738,0.738s-2.236,0-2.842,0c-0.604,0-1.078-0.395-1.578-0.894  c-0.5-0.5-1.895-1.974-2.447-2.578c-0.551-0.605-1.117-0.347-1.369-0.094c-0.254,0.253-0.418,0.83,0.055,1.356  s3.156,3.709,3.762,4.209s1.289,0.736,1.895,0.736s1.869,0,2.844,0c0.973,0,2.277,0.043,2.973,0.633  c1.104,0.932,1.982,1.655,1.982,1.655l3.332-3.366c0,0-2.314-2.684-3.236-3.604C21.697,20.582,20.881,19.978,19.145,19.978z" />
              </svg>
              <% if @recipe.servings > 1 %>
              <span class="text-base font-semibold ml-2"><%= @recipe.servings %> portions</span>
              <% else %>
              <span class="text-base font-semibold ml-2"><%= @recipe.servings %> portion</span>
              <% end %>
            </div>

            <div class="bg-gray-50 text-gray-900 group flex items-center px-2 py-2 text-sm font-medium ">
              <svg class="w-8 h-8 ml-2 mr-1 fill-current" fill="none" xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
                xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                <switch>
                  <foreignObject requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" x="0" y="0" width="1"
                    height="1" />
                  <g i:extraneous="self">
                    <g>
                      <path
                        d="M46.7,67.2l3.1-3.1c-0.1-5.8,1.8-12,4.6-17.4V7.5c0-2.8-2.3-5-5-5h-39c-2.8,0-5,2.3-5,5v57.9c0,2.8,2.3,5,5,5H33     C36.7,67,42,65.8,46.7,67.2z M41.3,39.6c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6     C45,38,43.3,39.6,41.3,39.6z M45,47.2c0,2-1.6,3.6-3.6,3.6c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6C43.3,43.6,45,45.2,45,47.2z      M13.1,23.8V12.9c0-1.4,1.2-2.6,2.6-2.6h28.3c1.4,0,2.6,1.2,2.6,2.6v10.9c0,1.4-1.2,2.6-2.6,2.6H15.7     C14.2,26.4,13.1,25.2,13.1,23.8z M18.3,62c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6     C21.9,60.4,20.3,62,18.3,62z M18.3,50.8c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6     C21.9,49.2,20.3,50.8,18.3,50.8z M18.3,39.6c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6     C21.9,38,20.3,39.6,18.3,39.6z M29.8,62c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6     C33.4,60.4,31.8,62,29.8,62z M29.8,50.8c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6     C33.4,49.2,31.8,50.8,29.8,50.8z M29.8,39.6c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6     C33.4,38,31.8,39.6,29.8,39.6z M37.7,58.4c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6c0,2-1.6,3.6-3.6,3.6     C39.3,62,37.7,60.4,37.7,58.4z" />
                      <path
                        d="M86.6,44.7c-7.6-7.6-16.2-10.3-20.1-6.4c-5.7,5.7-12.7,18.4-11.3,27.8l-7.3,7.3c-3.5-2.4-8.3-2-11.5,1.1     c-3.5,3.5-3.5,9.2,0,12.8c1.4,1.4,3.2,2.3,5.1,2.5c0.3,1.9,1.1,3.7,2.5,5.1c3.5,3.5,9.2,3.5,12.8,0c3.1-3.1,3.5-8,1.1-11.5     l7.3-7.3c9.4,1.3,22.1-5.6,27.8-11.3C96.9,60.9,94.1,52.2,86.6,44.7z M53.1,81.7c-0.5,0.5-0.7,1.1-0.7,1.7c0,0.6,0.3,1.2,0.8,1.7     c0,0,0.3,0.2,0.3,0.2c1.7,1.7,1.7,4.6,0,6.3c-1.7,1.7-4.6,1.7-6.3,0c-1-1-1.4-2.4-1.2-3.8c0.2-1.4-1.2-2.8-2.6-2.6     C42,85.4,40.6,85,39.6,84c-1.7-1.7-1.7-4.6,0-6.3c1.7-1.7,4.5-1.7,6.3,0c0,0,0,0,0,0c0,0,0.2,0.2,0.2,0.3c0.4,0.5,1,0.8,1.7,0.8     c0.6,0,1.3-0.2,1.7-0.7l7.3-7.3c0.4,0.7,0.9,1.4,1.6,2c0.6,0.6,1.3,1.1,2,1.6L53.1,81.7z M89.7,61.5c-1.4,1.4-7.6-0.4-13.6-6.4     c-6-6-7.9-12.2-6.4-13.6c1.4-1.4,7.6,0.4,13.6,6.4C89.4,53.9,91.2,60.1,89.7,61.5z" />
                      <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -13.0773 71.4453)" cx="79.7" cy="51.5"
                        rx="1.9" ry="7" />
                    </g>
                  </g>
                </switch>
              </svg>
              <span class="font-semibold text-primary-500 mx-1 ml-2 text-base"><%= @recipe.cal_per_serving %></span>
              <span class="font-semibold text-primary-500 mr-2 text-base">calories</span><span
                class="text-gray-500 italic text-sm"> par portion</span>
            </div>


            <div class="bg-white text-gray-900 group flex items-center px-2 py-2 text-sm font-medium ">
              <svg class="w-7 h-7 ml-2 mr-2 fill-current" fill="none" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" viewBox="0 0 153 110"
                version="1.1" xml:space="preserve" style="" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd"
                stroke-linejoin="round" stroke-miterlimit="1.41421">
                <g transform="matrix(1,0,0,1,-1901,-1971)">
                  <g transform="matrix(0.42107,0,0,0.42107,1325.03,1240.59)">
                    <path
                      d="M1634.66,1738.09C1662.09,1728.87 1699.65,1766.87 1718.48,1822.9C1737.31,1878.93 1730.33,1931.9 1702.9,1941.12C1675.47,1950.34 1637.91,1912.34 1619.08,1856.31C1600.25,1800.28 1607.23,1747.31 1634.66,1738.09ZM1610.58,1742.86C1607.49,1747.05 1605.01,1751.69 1603.18,1756.44C1591.8,1786.02 1595.98,1817.52 1603.98,1846.98C1613.07,1880.47 1628.93,1913.78 1655.02,1936.74C1657.08,1938.56 1659.31,1940.32 1661.65,1941.99C1593.24,1936.83 1513.53,1908.32 1494.64,1870.37L1497.43,1868.05C1497.73,1867.75 1497.84,1867.69 1498.05,1867.31C1498.44,1866.61 1498.48,1865.72 1498.17,1864.99C1498,1864.59 1497.9,1864.52 1497.63,1864.19L1497.26,1863.88L1487.41,1856.95L1497.28,1849.9C1497.59,1849.64 1497.68,1849.59 1497.91,1849.25C1498.43,1848.5 1498.52,1847.48 1498.14,1846.65C1497.97,1846.29 1497.88,1846.22 1497.63,1845.91L1497.28,1845.62L1487.41,1838.57L1497.26,1831.64C1497.57,1831.38 1497.67,1831.33 1497.91,1830.99C1498.43,1830.24 1498.52,1829.22 1498.14,1828.39C1497.97,1828.02 1497.88,1827.95 1497.63,1827.64L1497.28,1827.34L1487.39,1820.28L1497.28,1813.21C1497.4,1813.11 1497.53,1813.01 1497.64,1812.9C1497.87,1812.67 1498.05,1812.39 1498.17,1812.1C1498.23,1811.95 1498.27,1811.8 1498.32,1811.64C1498.36,1811.32 1498.4,1811 1498.35,1810.69C1498.31,1810.37 1498.2,1810.06 1498.04,1809.78C1497.89,1809.5 1497.66,1809.27 1497.43,1809.05L1494.64,1806.73C1508.92,1778.04 1557.94,1754.75 1610.58,1742.86ZM1425.76,1867.16C1425.76,1882.95 1412.94,1895.77 1397.15,1895.77C1381.36,1895.77 1368.54,1882.95 1368.54,1867.16C1368.54,1851.37 1381.36,1838.55 1397.15,1838.55C1381.36,1838.55 1368.54,1825.73 1368.54,1809.94C1368.54,1794.15 1381.36,1781.33 1397.15,1781.33C1412.94,1781.33 1425.76,1794.15 1425.76,1809.94L1490.27,1809.94L1491.44,1810.91L1481.33,1818.14C1481.03,1818.4 1480.93,1818.45 1480.7,1818.78C1480.18,1819.53 1480.09,1820.55 1480.47,1821.38C1480.64,1821.75 1480.73,1821.81 1480.99,1822.12L1481.33,1822.42L1491.2,1829.47L1481.35,1836.4C1481.04,1836.66 1480.94,1836.71 1480.71,1837.04C1480.18,1837.79 1480.09,1838.82 1480.47,1839.65C1480.64,1840.02 1480.73,1840.08 1480.99,1840.39L1481.33,1840.69L1491.23,1847.76L1481.33,1854.82C1481.03,1855.08 1480.93,1855.13 1480.7,1855.47C1480.18,1856.22 1480.09,1857.25 1480.48,1858.08C1480.65,1858.45 1480.74,1858.51 1481,1858.82L1481.35,1859.11L1491.42,1866.2L1490.27,1867.16L1425.76,1867.16ZM1664.24,1812.13C1673.41,1809.05 1685.96,1821.75 1692.26,1840.48C1698.55,1859.2 1696.22,1876.91 1687.05,1879.99C1677.88,1883.07 1665.33,1870.37 1659.03,1851.64C1652.74,1832.92 1655.07,1815.21 1664.24,1812.13Z" />
                  </g>
                </g>
              </svg>
              <span class="font-semibold text-red-500 mx-2 text-base"><%= @recipe.prot_per_serving %>g</span>
              de <span class="font-semibold text-red-500 mx-2 text-base">protéines</span> <span
                class="text-gray-500 italic text-sm"> par portion</span>
            </div>

            <div class="bg-gray-50 text-gray-900 group flex items-center px-2 py-2 text-sm font-medium ">
              <svg class="w-7 h-7 ml-2 mr-2 fill-current" fill="none" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 640"
                enable-background="new 0 0 512 512" xml:space="preserve">
                <path
                  d="M474.125,37.875c-39.553-39.545-103.676-39.554-143.231,0l-8.205,8.207c42.997,33.414,52.253,103.522,52.253,103.522  c1.654,8.992-4.281,17.629-13.282,19.292c-7.882,1.452-15.487-2.936-18.358-10.095c0,0-16.034-53.278-59.226-74.105l-65.546,65.551  c45.324,37.278,52.247,103.53,52.247,103.53c1.654,8.992-4.298,17.62-13.282,19.282c-7.881,1.451-15.487-2.935-18.357-10.095  c0,0-18.453-56.229-59.222-74.103l-65.546,65.551c46.826,42.795,52.244,103.522,52.244,103.522  c1.654,8.992-4.282,17.627-13.283,19.29c-7.881,1.452-15.487-2.936-18.357-10.095c0,0-11.164-45.961-59.217-74.102l-37.877,37.879  c-39.553,39.547-39.553,103.669,0,143.215c39.539,39.555,103.662,39.555,143.215,0l293.031-293.022  C513.68,141.553,513.664,77.414,474.125,37.875z" />
              </svg>
              <span class="font-semibold text-purple-500 mx-2 text-base"><%= @recipe.carbs_per_serving %>g</span> de
              <span class="font-semibold text-purple-500 mx-2 text-base">glucides</span> <span
                class="text-gray-500 italic text-sm"> par portion</span>
            </div>

            <div class="bg-white text-gray-900 group flex items-center px-2 py-2 text-sm font-medium ">
              <svg class="w-7 h-7 ml-2 mr-2 fill-current" fill="none" xmlns="http://www.w3.org/2000/svg"
                data-name="Kitchen Objects" viewBox="0 0 60 75" x="0px" y="0px">
                <path
                  d="M58,49.94H51V35a3.99891,3.99891,0,0,0-4-4H38.90991L43.72,26.21a2.01609,2.01609,0,0,0,2.83008,0L47.98,24.79a3.01167,3.01167,0,0,0,0-4.25l-.71-.71L58.43994,8.67A5.14685,5.14685,0,0,0,58.9,1.82a5.02027,5.02027,0,0,0-7.41-.35L37.37,15.6a2.98473,2.98473,0,0,0-.88,2.29L23.29,31H13a3.99891,3.99891,0,0,0-4,4V49.94H2a2.00587,2.00587,0,0,0-2,2V53a3.00883,3.00883,0,0,0,3,3H4.32007l2.59985,3.24A1.986,1.986,0,0,0,8.48,60H51.52a2.00719,2.00719,0,0,0,1.56006-.75L55.67993,56H57a3.00883,3.00883,0,0,0,3-3V51.94A2.00587,2.00587,0,0,0,58,49.94ZM52.3,6.32A1.21114,1.21114,0,0,1,52.62,6.1a1.14428,1.14428,0,0,1,.77,0,.95349.95349,0,0,1,.17.1.56622.56622,0,0,1,.1499.12.999.999,0,0,1,.3.71.95936.95936,0,0,1-.3.7.87512.87512,0,0,1-.31995.22.99559.99559,0,0,1-.38.08,1.00669,1.00669,0,0,1-.39-.08A.87512.87512,0,0,1,52.3,7.73a.95042.95042,0,0,1-.29-.7A.98953.98953,0,0,1,52.3,6.32ZM18,35h2a1,1,0,0,1,0,2H18a1,1,0,0,1,0-2ZM11,56H10a1,1,0,0,1,0-2h1a1,1,0,0,1,0,2Zm2.29-19.29a.98941.98941,0,0,1-.21-1.09,1.15178,1.15178,0,0,1,.21-.33A1.00953,1.00953,0,0,1,14.2,35.02a.636.636,0,0,1,.18005.06.55839.55839,0,0,1,.17.09.98708.98708,0,0,1,.1499.12A1.03847,1.03847,0,0,1,15,36a.95964.95964,0,0,1-.3.71.97371.97371,0,0,1-1.08.21A1.15349,1.15349,0,0,1,13.29,36.71ZM23,56H15a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2ZM37,35a3.00883,3.00883,0,0,1-3,3,2.77234,2.77234,0,0,1-1-.18V43a3,3,0,0,1-6,0V41.82A2.77234,2.77234,0,0,1,26,42a3.00883,3.00883,0,0,1-3-3V33h2v6a1,1,0,0,0,2,0V33h2V43a1,1,0,0,0,2,0V33h2v2a1,1,0,0,0,2,0V33h2Z" />
              </svg>
              <span class="font-semibold text-yellow-400 mx-2 text-base"><%= @recipe.fat_per_serving %>g </span> de
              <span class="font-semibold text-yellow-400 mx-2 text-base">lipides</span> <span
                class="text-gray-500 italic text-sm"> par portion</span>
            </div>
          </div>
        </div>

        <p class="mt-5 ml-5 text-sm text-gray-500 hover:text-gray-700  cursor-pointer focus:outline-none"><span
            class="text-base"><i class="far fa-clock"></i></span> <%= @recipe.total_time %> minutes </p>
        <details class="my-5">
          <summary class="mt-5 text-lg text-gray-500 hover:text-gray-700  cursor-pointer focus:outline-none">
            Ingrédients :
          </summary>
          <% @recipe.ingredients_list_formatted.each do |ingredient| %>
          <p class="text-gray-500"><%= ingredient %></p>
          <% end %>
          </p>
        </details>

        <details class="mb-4 rounded-md">
          <summary class="mt-5 text-lg text-gray-500 hover:text-gray-700  cursor-pointer focus:outline-none">
            Etapes :
          </summary>
          <p class="text-gray-500">
            <%= @recipe.steps_formatted %> </p>
        </details>

        <%= link_to @recipe.marmiton_url, class:"outline-none", target: :_blank do %>
        <button class="submit-warning bg-warning outline-none">Voir la recette sur Marmiton</button>
        <% end %>
      </div>
    </div>
  </div>
</div>