<!DOCTYPE html>
<html>

<head>
  <title>Mealories</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Temporary Tailwind CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <!-- This refers to Google Fonts (Poppins, Merriweather) -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <!--links for animations-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <!-- This refers to app/javascript/stylesheets/application.scss-->
  <%= stylesheet_pack_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application'%>

</head>

<body class="mb-auto">
  <div class="wrapper">
    <%= render "layouts/navbar" %>

    <!-- Notices / Alerts  -->

    <% flash.each do |type, msg| %>
    <div>
      <div class="fixed inset-x-0 top-0 flex items-end justify-right mt-20  sm:p-6 justify-end z-50 ">
        <div data-controller="alert"
          class="max-w-sm w-full shadow-lg px-2 py-2 rounded relative <%= tailwind_classes_for(type) %>">
          <div class="p-2">
            <div class="flex items-start">
              <div class="ml-3 w-0 flex-1 pt-0.5">
                <div class="text-lg leading-5 font-medium">
                  <p> <%= notice %> </p>
                  <p> <%= error %> </p>
                  <p> <%= info %> </p>
                  <p> <%= warning %> </p>
                  <p> <%= alert %> </p>
                </div>
              </div>
              <div class="ml-4 flex-shrink-0 flex">
                <button data-action="alert#close"
                  class="inline-flex <%= tailwind_text_for(type) %> focus:outline-none focus:text-gray-300 transition ease-in-out duration-150">
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <%= yield %>
    <%= render "layouts/footer" %>

  </div>
  <!-- Stimulus.js -->


  <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
  <script src="https://unpkg.com/tailwindcss-stimulus-components/dist/tailwindcss-stimulus-components.umd.js">
    < script src = "https://unpkg.com/aos@next/dist/aos.js" >
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>