<!DOCTYPE html>
<html>
  <head>
    <title>Mealories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- This refers to Google Fonts (Poppins, Merriweather) -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- This refers to app/javascript/stylesheets/application.scss-->
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Devise Message -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- End Devise Message -->
    
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
